.wrapper{
    width: 800px;
    margin: auto;
}

.padded{
    padding:10px;
    margin: 10px;
    border:1px solid black;
}

#header{ 
    width: 760px;
}

#content{ 
    width: 224.6667px;
    float: left;
}

#footer{ 
    width: 760px;
    clear:both;
}